config/config.mk
src/warp/warpingTapenade/*
src/warp/temp_forward/*
src/warp/temp_reverse/*

# Ignore ruff and pre-commit config files
.pre-commit-config.yaml
ruff.toml-global

# Ignore everything in the src_cs directory except the f2py makefile
src_cs/
!src_cs/f2py/Makefile
src/f2py/libidwarp.pyf.autogen
src/f2py/libidwarp-f2pywrappers2.f90

*.so
*.o
*.pyc
*~
.*~
*.orig
*.mod
*.pyf
*.cgns
*.a
*.f
*.dat
*.mk
*.xyz
*.phy
*.fmt
*.lay
*.plt
*.html
idwarp.egg-info
input_files/*/
input_files/*.tar.gz
input_files/*.json
testflo_report.out
doc/_build
