config/config.mk
src/warp/warpingTapenade/*
src/warp/temp_forward/*
src/warp/temp_reverse/*
*.so
*.o
*.pyc
*~
.*~
*.orig
*.mod
*.pyf
*.cgns
*.a
*.dat
*.mk
*.xyz
*.phy
*.fmt
*.lay
*.plt
*.html
src_cs/f2py/warpustruct.pyf.autogen
src/f2py/warpustruct.pyf.autogen
src/f2py/warpustruct-f2pywrappers2.f90
src_cs/f2py/warpustruct_cs-f2pywrappers2.f90
src_cs/f2py/get_f2py.py
