config/config.mk
src/warp/warpingTapenade/*
src/warp/temp_forward/*
src/warp/temp_reverse/*

# Ignore ruff and pre-commit config files
ruff.toml
.pre-commit-config.yaml

*.so
*.o
*.pyc
*~
.*~
*.orig
*.mod
*.pyf
*.cgns
*.a
*.dat
*.mk
*.xyz
*.phy
*.fmt
*.lay
*.plt
*.html
src_cs/f2py/libidwarp.pyf.autogen
src/f2py/libidwarp.pyf.autogen
src/f2py/libidwarp-f2pywrappers2.f90
src_cs/f2py/libidwarp_cs-f2pywrappers2.f90
src_cs/f2py/get_f2py.py
idwarp.egg-info
input_files/*/
input_files/*.tar.gz
input_files/*.json
testflo_report.out
doc/_build
